/*
File : new.css;

*/

html{
	
}

body{
  
   font-family:lato,Verdana, Geneva, Arial, sans-serif;
   background-color: #F4F4F4;

}

.container {
  
   margin:auto;
   max-width: 960px;
   height: 1600px;
   
}

.header{
   position: absolute;
   width: 960px;
   height: 90px;
   border: 1px solid;
   background-color:  #000000;

}

.logo{
   position: absolute;
   left: 12px;
   width: 155px;
   height: 90px;  

}

.logo img{
   width: 150px;
   height: 90px;
   padding-top: 8px;
   padding-left:4px;

}

.nav {
   position: absolute;
   left: 150px;
   width: 420px;
   height: 50px;
   margin-top: 22px;
   
}

.nav ul{
    list-style-type: none;
    text-align: left;
    margin-top: 10px;  
}


.nav li {
   display: inline-block;
   padding:5px;
   margin-right: 20px;
   
  
}

.nav a{
   text-decoration: none;
   color: #ffffff;
}

.login{
   position: absolute;
   left: 780px;
   top:34px;
   width: 70px;
   height: 25px;
   
   text-align: center;
   padding-top: 4px;
}

.login a {
   text-decoration: none;
   color: #ffffff;
}

.signup{
   position: absolute;
   left: 870px;
   top:34px;
   width: 70px;
   height: 25px;
   
   text-align: center;
   padding-top: 4px; 
}
.signup a{
   text-decoration: none;
   color: #ffffff;
}


.username{
   position: absolute;
   left: 770px;
   top:34px;
   width:100px;
   height: 25px;
   text-align: center;

   color: #ffffff;
   font-size:20px;
}
.logout{

   position: absolute;
   left: 870px;
   top:34px;
   width: 70px;
   height: 25px;
   text-align: center;


}

.logout input{
 background-color:#000000;
 color:#ffffff;
 font-size:16px;
 border-style:none;
}

.searchbox{
   position: absolute;
   left: 545px;
   top:35px;
   width: 185px;
   height: 20px;
   display: none;

}

.searchbox input{
    width: 185px;
    height: 20px;

}



.searchicon{
   position: absolute;
   left: 750px;
   top:38px;
   width: 20px;
   height: 20px;


}

.searchicon input{
  width: 20px;
  height: 20px;
  background:url('./image/search.png');
  background-repeat: no-repeat;
  background-size: 20px;
  cursor:pointer;
  border: none;
}



h3{
   position: absolute;
   top :110px;
   

}
p b{
  color:#006837;
}

#b1{

   position: absolute;
   top :190px;
   width: 960px;
   height:350px;
   border-bottom: 1px solid  #b3b3b3;
   line-height: 1.5em;

}

#b1 img{
   float: left;
   width: 210px;
   height:310px;
   margin-right: 10px;

}

.into{
  position: absolute;
  left:240px;
  width: 700px;
  margin-left: 10px;
  top:0px;
 
  text-align: justify;
}

#b2{

   position: absolute;
   top :580px;
   width: 960px;
   height:350px;
   border-bottom: 1px solid  #b3b3b3;
   line-height: 1.5em;

}

#b2 img{
   float: left;
   width: 210px;
   height:310px;
   margin-right: 10px;

}

#b3{

   position: absolute;
   top :970px;
   width: 960px;
   height:350px;
   border-bottom: 1px solid  #b3b3b3;
   line-height: 1.5em;

}

#b3 img{
   float: left;
   width: 210px;
   height:310px;
   margin-right: 10px;

}

#b4{

   position: absolute;
   top :1360px;
   width: 960px;
   height:330px;
  
   line-height: 1.5em;

}

#b4 img{
   float: left;
   width: 210px;
   height:310px;
   margin-right: 10px;

}




.footer{
  position: absolute;
  top: 1800px;
  clear:both;
  background-color:  #091c24;
  min-width:960px;
  margin-bottom:10px; 
  border-top: 1px double;
  border-bottom: 1px solid;
  color: #333;
  font-family: lato, Arial,sans-serif;
  overflow: hidden;
}



.contact{
  float: right;
  color: white;
  margin: 1px;
  padding: 1em;

}

.contact a{
  text-decoration: none;
  color:white;
}


 .copyright{
  float: left;
  color: white;
  width: 400px;
  margin: 1px;
  padding: 1em;
 }













